.main {
    background-image: linear-gradient(90deg, #a18cd1, #fbc2eb);
}

.fullscreen {
    /* full screen*/
    height: 100vh;
    width: 100vw;

    /* gradient mask */
    background-color: black;
    background-image: linear-gradient(90deg, #a18cd1, #fbc2eb);
    background-blend-mode: hard-light;
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* positioning */
    position: fixed;
    top: 50vh;
    left: 0;
    margin-top: -10em; /* font size */
}

.fullscreen > div {
    width: 100%;
    line-height: 100%;
    font-size: 10em;
    margin-left: 1em;
}

#menu {
    position: fixed;
    height: 8em;
    width: 10em;
    margin-top: -4em;
    bottom: -50vh;
    left: 1em;
    /* background-color: aqua; */
    transition: bottom 700ms ease 0s;
    line-height: 200%;
}
#menu > span > i { margin-right: 2em; }

.section:not(.main) {
    margin-left: 10em;
}
