.main {
    background-image: linear-gradient(90deg, #a18cd1, #fbc2eb);
}

#fullpage {
    z-index: -1;
}

.fullscreen {
    /* full screen*/
    height: 100vh;
    width: 100vw;

    /* gradient mask */
    background-image: linear-gradient(90deg, #6a4ea7, #f791d7);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    /* make it center */
    display: flex;
    align-items: center;

    /* positioning */
    position: fixed;
    transition: height 700ms ease 0s;
}

.fullscreen > div {
    width: 100%;
    line-height: 100%;
    font-size: 10em;
    margin-left: 1em;
}

#menu {
    position: fixed;
    height: 8em;
    width: 10em;
    bottom: -50vh;
    left: 1em;
    margin-bottom: -4em;
    /* background-color: aqua; */
    transition: bottom 700ms ease 0s;
    line-height: 200%;
}
#menu > span > i { margin-right: 2em; }

.section:not(.main) {
    margin-left: 10em;
}
