.main {
    background-image: linear-gradient(45deg, #84d0e8, #52bea2);
    position: fixed;
    transition: top 700ms ease 0s;
    z-index: -5;
}
.scroll-assitant-border {
    position: absolute;
    left: 2em;
    bottom: 2em;
}
.main > i.fa-circle {
    color: white;
    position: absolute;
    left: 2.2em;
    bottom: 2.4em;
}
.fullscreen {
    /* full screen*/
    height: 100vh;
    width: 100vw;

    /* gradient mask */
    color: black;
    mix-blend-mode: overlay;

    /* make it center */
    display: flex;
    align-items: center;
}
.img-nine {
    position: absolute;
    right: 0;
    bottom: 0;
    max-width: 55vh;
    mix-blend-mode: overlay;
}
.fullscreen > div {
    width: 100%;
    line-height: 100%;
    font-size: 8em;
    margin-left: 1em;
}

#menu {
    position: fixed;
    height: 8em;
    width: 10em;
    bottom: -50vh;
    left: 1em;
    margin-bottom: -4em;
    /* background-color: aqua; */
    transition: bottom 700ms ease 0s;
    line-height: 200%;
}
#menu > span > i { margin-right: 2em; }

.section:not(.fake) {
    position: relative;
    z-index: -4;
    /* #menu left + width = 1em + 10em = 11em */
    padding-left: 11em;
    background: white;
    background-clip: padding-box;
}
.section.fake {
    background: transparent;
}
.section.projects > .fp-tableCell {
    padding-top: 5em;
    text-align: center;
}

button.btn-learn-more {
    position: relative;
    border-radius: 2rem;
    transition: all 300ms ease 150ms;
    background-color: white;
    position: relative;
    text-align: center;
    width: 2.25em;
    height: 2.25em;
    border-width: 0;
    display: flex;
    align-items: center;
    border: unset;
}
button.btn-learn-more:hover {
    background-color: white;
    width: 7em;
    transition-delay: 0ms;
}
button.btn.btn-learn-more:active {
    background-color: rgba(255, 255, 255, 0);
    color: black;
    border: unset;
}
button.btn.btn-learn-more:focus {
    box-shadow: unset;
}
button.btn-learn-more::after {
    background-image: linear-gradient(45deg, #84d0e8, #52bea2);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    content: '';
    border-radius: 2.1rem;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    box-shadow: 0px 0px 0.8em 0px gray;
}
button.btn-learn-more > span {
    opacity: 0;
    visibility: hidden;
    transition: all 300ms ease 0ms;
    color: black;
    margin: auto;
    margin-left: .1em;
}
button.btn-learn-more:hover > span {
    opacity: 1;
    visibility: visible;
    transition-delay: 150ms;
}
button.btn-learn-more > i {
    opacity: 1;
    transition: all 300ms ease 150ms;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
button.btn-learn-more:hover > i {
    opacity: 0;
    width: 0;
}

.project {
    display: flex;
    height: 5em;
    margin: 1em 3em;
}
.project > a.link {
    display: block;
    width: 5em;
    background: white;
    box-shadow: 0px 0px .3em 0px gray;
    color: #171515;
    padding: .5em 0;
    text-align: center;
    border-radius: 1em;
    transition: all 500ms ease 0ms;
    margin-left: 1em;
}
.project > .details {
    flex: 1;
    box-shadow: 0px 0px .3em 0px gray;
    border-radius: 1em;
    transition: all 500ms ease 0ms;
    position: relative;
}
.project > .details::before {
    position: absolute;
    background-image: linear-gradient(270deg, #84d0e8, #52bea2);
    top: 0; left: 0;
    border-radius: 1em;
    width: 100%; height: 5em;
    transition: all 500ms ease 0ms;
    z-index: 1;
    opacity: 0;
    content: '';
}
.project > .details > .icons {
    float: left;
    padding: .5em 0;
    margin-left: 1em;
    transition: all 500ms ease 0ms;
    z-index: 2;
    position: relative;
}
.project > .details > .texts {
    float: right;
    margin-right: 1em;
    text-align: right;
    z-index: 2;
    position: relative;
}
.project > .details > .texts > span.title {
    font-size: 1.8em;
    display: block;
    line-height: 110%;
    margin-top: .4em;
}
.project> a.link:hover {
    background-color: #171515;
    color: white;
}
.project > .details:hover::before {
    opacity: 1;
}
.project > .details:hover > .icons {
    color: white;
    text-shadow: 0px 0px .2em gray;
}
.project > .details > .icons > * {
    margin-right: .2em;
}

#project-modal {
    position: fixed;
    display: none; /* will be flex later */
    z-index: 1;
    width: calc(100vw - 17em); /* menu 10em, widget margin 3em 11+3+3 = 16em */
    height: 30em; /* widget height 5em, widget margin 1em (5*5)+(1*5) = 29em */
    background-image: url(https://picsum.photos/1100/600);
    border-radius: 1em;
    left: 14em; /* menu 11em, widget margin 3em 11+3 = 3em */
    top: calc(50vh - 14.5em); /* see height */
    box-shadow: 0px 0px .3em 0px gray;
    transition: all 500ms ease 0ms;
    animation-duration: 700ms;
}
#project-modal > span.name {
    position: absolute;
    top: 1.2em; left: 1em;
    color: white;
    font-size: 2em;
    font-weight: 700;
}
#project-modal > .icons {
    position: absolute;
    top: .8em; right: 1em;
}
#project-modal > .icons > * {
    display: block;
    background: white;
    text-align: center;
    margin: .2em;
    padding: .1em;
    border-radius: .2em;
    transition: background-color 500ms ease 0ms, color 500ms ease 0ms;
}
#project-modal > .icons > i.fas {
    color: red;
}
#project-modal > .icons > i.fas:hover {
    background-color: red;
    color: white;
}
#project-modal > .icons > a.fab {
    background-color: #171515;
    color: white;
    text-decoration: none;
}
#project-modal > .icons > a.fab:hover {
    background-color: white;
    color: #171515;
}
#project-modal > .details {
    position: absolute;
    bottom: 0; left: 0;
    margin: 1em;
    padding: .5em;
    height: calc(100% - 8.5em);
    width: calc(100% - 2em);
    border-radius: .2em;
    background-color: white;
}

.section.projects .btn {
    margin-top: 3em;
    margin-left: auto; margin-right: auto;
}
/*---member---*/
.member-card {
    position: relative;
    width: 20em;
    height: 30em;
    background: white;
    display: inline-block;
    text-align: center;
    border: 0.2em solid #52bea2; /*입력 안했을경우 기본 컬러*/
    margin: 2em;
}
.member-card > .member-card-shadow {
    content: '';
    position: absolute;
    top: 0; left: 0;
    transition: all 500ms ease 0s;
    width: 100%; height: 100%;
    background-color: #52bea2;
    z-index: -1;
}
.member-card:hover > .member-card-shadow {
    top: 1em; left: 1em;
}
.member-banner {
    width: 100%;
    height: 40%;
    margin-top: 0em;
    background-image: linear-gradient(90deg, #a18ecf, #fac3ea);  /*배너 없을경우 그라데이션 배경*/
    object-fit: cover;
}
.member-avatar {
    position: absolute;
    left: 50%;
    top: 40%;
    margin-top: -4em;
    margin-left: -4em;
    width: 8em;
    height: 8em;
    border: 0.2em #FFFFFF solid;
    border-radius: 50%;
    background-image: linear-gradient(45deg, #84d0e8, #52bea2); /* 프사가 안 보일 경우 이쁘게라도 */
}
.member-name {
    margin-top: 25%;
    font-weight: 700;
    line-height: 100%;
    padding-left: 1.25em; padding-right: 1.25em;
}
.member-position {
    margin-bottom: 0.5em;
    font-size: 1.25em;
    font-weight: 500;
    line-height: 120%;
    padding-left: 1.25em; padding-right: 1.25em;
}
.member-about {
    display: block;
    font-size: 1em;
    color: #333333;
    line-height: 100%;
    margin-bottom: 0.125em;
    padding-left: 1.25em; padding-right: 1.25em;
    height: 4em;
    overflow-y: hidden;
}
.member-link {
    position: absolute; 
    bottom: 1em;
    width: 100%;
}
.member-link > a:not(:last-child) {
    margin-right: 1em;
}
.member-link > a {
    color: black;
}
.member-link > a:hover {
    color: #c4c4c4;
}
.carousel-inner {
    text-align: center;
}

button.btn-circle {
    position: relative;
    width: 2.25em; height: 2.25em;
    transition: all 500ms ease 0ms;
    background-color: white;
    border: unset;
    border-radius: 50%;
    box-shadow: unset;
}
button.btn-circle:hover {
    background-color: transparent;
}
button.btn-circle:focus {
    box-shadow: unset;
}
button.btn-circle::after {
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
    content: '';
    border-radius: 50%;
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    background-image: linear-gradient(45deg, #84d0e8, #52bea2);
    box-shadow: 0px 0px 0.8em 0px #000000;
}


/*
일러스트 없어서 일단은 png로 했는데 나중에 svg로 교체바람
*/
#contact1 {
    display: inline-block;
    left: 2vw;
    width: 36%;
    height: 30vw;
    background-image: url(../img/contact.png);
    background-position: left;
    background-size: 269%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.5);
}
#contact2 {
    float: right;
    margin-right: 3%;
    width: 54%;
    height: 30vw;
    background-image: url(../img/contact.png);
    background-position: right;
    background-size: 180%;
    border-radius: 0.5em;
    box-shadow: 0px 0px 10px 1px rgb(0,0,0,0.5);
}
footer {
    width: 100vw;
    height: 30vh;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -5;
    background-color: #333333;
}